DISCORD_BOT_TOKEN=""
DISCORD_BOT_TOKEN_SECONDARY=""
DISCORD_BOT_TOKEN_TERTIARY=""

STEAM_API_KEY=""
STEAM_USER_ID=""

DISCORD_GUILD_ID=""
DISCORD_TEST_GUILD_ID=""

MONGODB_API_KEY=""
MONGODB_URI=""

RETROACHIEVEMENTS_API_KEY=""
RETROACHIEVEMENTS_USERNAME=""

GOOGLE_API_KEY=""

SUPABASE_URL=""
SUPABASE_PUBLISHABLE_KEY=""
SUPABASE_SECRET_KEY=""
SUPABASE_SERVICE_ROLE_KEY=""
